<div class="container">
    <h1 class="text-center mt-5">Inicia Sesión y comienza a crear avisos</h1>

    <%= form_with(scope: :session, url: login_path, local: true , data: {turbo: false}, class: "w-90 m-auto bg-secondary bg-gradient rounded p-5 text-white mt-5 mb-5 shadow") do |f|%>
    <div class="row mt-5">
        <div class="col-2 fw-bold">
            <%= f.label :email%>    
        </div>
        <div class="col-12">
            <%= f.email_field :email, class:"w-100 rounded border-0 p-2", placeholder: "Ingresa tú email"%>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-2 fw-bold">
            <%= f.label :password%>    
        </div>
        <div class="col-12">
            <%= f.password_field :password, class:"w-100 rounded border-0 p-2", placeholder: "Ingresa tú contraseña" %>
        </div>
    </div>
    <div class="text-center mt-5">
    <%= f.submit "Iniciar Sesión", class:"p-2 btn btn-outline-light"%>
    </div>
<%end%>

</div>
</div>